 @import '../../variables.css';

.card{
	margin: 10px 0px;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.16);
}

h2{
	color: var(--blueColor);
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}