 @import '../../variables.css';

.list-group{
	border-radius: 0px !important;
}

a.list-group-item{
	text-align: center;
	font-size: 20px;
	height: 77px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color .2s linear;
	background-color: var(--grayBackground);
}

a.list-group-item.active{
	background-color: var(--darkBlue);
	color: var(--white);
}

a.list-group-item.active:hover{
	background-color: var(--darkBlue);
	color: var(--white);
}

a.list-group-item:hover{
	background-color: var(--blueColor);
	color: var(--white);
}